# Bytecode and cache files
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/

# macOS system files
.DS_Store

# Sensitive files
.env
bamideleisrael1-d2dc9ca1b020.json
instance/

# Database files
*.db