body {
  background-color: #151515;
  margin: 0;
  font-family: Arial, sans-serif;
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding: 40px;
  gap: 40px;
}

.text-container {
  width: 800px; 
  height: 600px;
  padding: 30px;
  background: #cecdcd;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.home-title {
  font-size: 64px;
  color: #333;
}

.home-description {
  font-size: 24px;
  color: #414141;
  margin-top: 10px;
}

.image-container {
  width: 800px; 
  height: 664px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage-image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 10px;
}

.homepage-button {
  background-color:  #313030;
  color: #b9b3b3;
  width: 100px;
  height:40px;
  border-radius:10px;
  font-size: 15px;
  font-weight: 600;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 2px 2px 6px #c5c5c5,
              -2px -2px 6px #aa4ec4;
 }
 
 button::before {
  content: '';
  width: 0;
  height: 3em;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #8b0fd8 0%, #f947de 100%);
  transition: .5s ease;
  display: block;
  z-index: -1;
 }
 
 button:hover::before {
  width: 9em;
 }

  